<!DOCTYPE html>
<html>
<head>
  <title>Lista de Clientes</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/styles/getCustomers.css">
</head>
<body>
  <div class="container">
    <h1>Lista de Clientes</h1>
    <table id="tabela_clientes" class="display">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Sabor</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(cliente) { %>
          <tr>
            <td><%= cliente.nome %></td>
            <td><%= cliente.telefone %></td>
            <td><%= cliente.sabor %></td>
            <td><%= cliente.quantidade %></td>
            <td><%= cliente.preco %></td>
            <td class="actions">
              <a href="#" onclick="editCustomer('<%= cliente.id %>', '<%= cliente.nome %>', '<%= cliente.telefone %>', '<%= cliente.sabor %>', '<%= cliente.quantidade %>', '<%= cliente.preco %>')" title="Editar"><i class="fas fa-edit icon"></i></a>
              <a href="#" onclick="deleteCustomer('<%= cliente.id %>')" title="Excluir"><i class="fas fa-trash-alt icon"></i></a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#tabela_clientes').DataTable({
        searching: true,
        lengthChange: true,
        paging: true,
        language: {
          search: "Pesquisar:",
          lengthMenu: "Exibir _MENU_ registros por página",
          zeroRecords: "Nenhum registro encontrado",
          info: "Exibindo página _PAGE_ de _PAGES_",
          infoEmpty: "Sem registros disponíveis",
          paginate: {
            first: "Primeira",
            previous: "Anterior",
            next: "Próxima",
            last: "Última"
          }
        }
      });
    });

    function editCustomer(id, nome, telefone, sabor, quantidade, preco) {
      const newNome = prompt('Editar nome:', nome)
      const newTelefone = prompt('Editar telefone:', telefone)
      const newSabor = prompt('Editar sabor:', sabor);
      const newQuantidade = prompt('Editar quantidade:', quantidade);
      const newPreco = prompt('Editar preco:', preco);

      if (newNome && newTelefone && newSabor && newQuantidade && newPreco) {
        // Enviar uma requisição PUT para a rota de atualização com os dados editados
        $.ajax({
          url: '/editCustomer/' + id,
          type: 'PUT',
          data: {
            nome: newNome,
            telefone: newTelefone,
            sabor: newSabor,
            quantidade: newQuantidade,
            preco: newPreco
          },
          success: function() {
            // Atualizar a tabela com os dados editados
            location.reload();
          },
          error: function() {
            alert('Erro ao editar o usuário.');
          }
        });
      }
    }

    function deleteCustomer(id) {
      if (confirm('Deseja excluir o usuário?')) {
        // Enviar uma requisição DELETE para a rota de exclusão com o ID do usuário
        $.ajax({
          url: '/deleteCustomer/' + id,
          type: 'DELETE',
          success: function() {
            // Recarregar a página após a exclusão
            location.reload();
          },
          error: function() {
            alert('Erro ao excluir o usuário.');
          }
        });
      }
    }
  </script>
</body>
</html>